body {
  background: url(cloudsclt.jpeg);
}

* {
  margin: 0;
  padding: 0;

}


.logo {
  padding-top: 10px;
  padding-left: 10px;
}

.akun {
  padding-right: 10px;
  padding-top: 10px;
  float: right;
}
.akun img{
  border-radius: 50px;
}
.box img{
  float: left;
  margin-right: 10px;
  padding-top: 10px;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 1100px;
  height: 500px;
  padding: 45px;
  box-sizing: border-box;
  background-color: #85e085;
  border-radius: 20px;
  z-index: 1;
}

.box2 {
  position: absolute;
  top: 62%;
  left: 44.5%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #85e085;
  z-index: 2;
}

.box3 {
  position: absolute;
  top: 62%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  padding: 0px;
  box-sizing: border-box;
  border-color: #85e085;
  z-index: 2;
}

.box4 {
  position: absolute;
  top: 95%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  padding: 0px;
  border: 1px;
  box-sizing: border-box;
  z-index: 2;
}


.box4  input[type="submit"]
{
  font-family: "Adobe Gothic Std B";
  cursor: pointer;
  background: #006600;
  color: #85e085;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 15px;
}
